<div id="<%= dom_id product %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= product.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= product.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price:</strong>
    <%= product.price %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Author:</strong>
    <%= product.author %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Publisher:</strong>
    <%= product.publisher %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of Publication:</strong>
    <%= product.date_of_publication %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Book Eiditon:</strong>
    <%= product.edition %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">ISBN Number:</strong>
    <%= product.isbn_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight:</strong>
    <%= product.weight %> Kg
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Binding Type:</strong>
    <%= product.binding_type %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= product.category_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Active:</strong>
    <%= product.active %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this product", [:admin, product], class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Edit this product", edit_admin_product_path(product), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
